#overview {
  padding: 7rem 2.5rem;
  background: url('../assets/img/ill-1.png') right no-repeat;
  background-size: contain;
  filter: $drop-shadow;

  .info {
    text-align: justify;    
    margin: 0;
  }
}
