#header {
  padding: 0 2.5rem;
  filter: $drop-shadow;

  @include flex(row, center, space-between);

  .navigation__btn {
    display: none;
  }
}

@media (max-width: 991px) {

  #header {
    position: relative;
    z-index: 2;

    .navigation__btn {
      display: flex;
    }
  }
}

@media (max-width: 767px) {

  #header {
    padding: 0 0.5rem;
  }
}
