$background-virus-image-size: 100px;

#overview {
  filter: $drop-shadow;

  .appeal-box {
    padding: 10% 2.5rem;
    background: url('../assets/img/ill-1.png') 101% bottom no-repeat;
    background-size: contain;

    .info {    
      margin: 0;
      text-align: justify;
    }
  }

  .description-box {
    position: relative;
    padding: 3rem 2.5rem 1rem;
    
    @include flex(row, center);

    &__image {
      position: relative;
      width: 50%;

      &__background {
        width: 100%;
      }

      &__virus {
        position: absolute;
        top: 55%;
        left: 40%;
        width: 25%;
        animation: rotation 50s infinite linear;

        &:nth-child(2) {
          top: 25%;
          width: 40%;
          animation: rotation 120s infinite linear reverse;
        }

        &:nth-child(3) {
          top: 40%;
          left: 25%;
          animation: rotation 80s infinite linear;
        }
      } 
    }

    &::after,
    &::before {
      position: absolute;
      right: 0;   
      bottom: 0;
      background: url('./../assets/img/corona.png') left no-repeat;  
      opacity: 0.4;
      content: '';
      background-size: cover; 
      
      @include size($background-virus-image-size, $background-virus-image-size * 2);
    }

    &::before {
      right: 10%;
      bottom: -25%;
      height: $background-virus-image-size;
      background-image: url('./../assets/img/corona-green.png');
    }

    .info {
      text-align: justify;

      &__btn-help {
        color: $hover-color;
        background-color: rgba(250, 86, 82, 0.15);
        transition: all 0.4s;

        &:hover {
          color: $title-color;
          background-color: $hover-color;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  #overview {

    .appeal-box {
      background-image: url('../assets/img/ill-2.png');
    }

    .description-box__image {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {

  #overview {

    .description-box {
      padding-right: 0;
      padding-left: 0;

      &__image {
        display: none;
      }

      .info {
        text-align: center;
      }
    }

    .appeal-box {
      padding-right: 0;
      padding-left: 0;

      .info {
        text-align: center;
      }
    }
  }
}
