#overview {
  filter: $drop-shadow;

  .appeal-box {
    padding: 10% 2.5rem;
    background: url('../assets/img/ill-1.png') right bottom no-repeat;
    background-size: contain;

    .info {    
      margin: 0;
      text-align: justify;
    }
  }

  .description-box {
    padding: 3rem 2.5rem 1rem;
    
    @include flex(row, center);

    &__image {
      width: 50%;
    }

    .info {
      text-align: justify;

      &__btn-help {
        color: $hover-color;
        background-color: rgba(250, 86, 82, 0.15);
        transition: all 0.4s;

        &:hover {
          color: $title-color;
          background-color: $hover-color;
        }
      }
    }
  }
}

@media (max-width: 991px) {

  #overview {

    .description-box__image {
      width: 40%;
    }
  }
}

@media (max-width: 767px) {

  #overview {

    .description-box {
      padding-right: 0;
      padding-left: 0;

      &__image {
        display: none;
      }

      .info {
        text-align: center;
      }
    }

    .appeal-box {
      padding-right: 0;
      padding-left: 0;

      .info {
        text-align: center;
      }
    }
  }
}
