@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Red+Hat+Display:wght@400;700;900&display=swap');

@import './abstract/variables.scss';

@import './abstract/mixin.scss';

@import './components/text-block.scss';

@import './components/navigation.scss';

@import './components/cards-block.scss';

@import './components/preventions-block.scss';

@import './layout/header.scss';

@import './layout/overview.scss';

@import './layout/contagion.scss';

@import './layout/symptoms.scss';

@import './layout/prevention.scss';

@import './layout/footer.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  border: 0;
  outline: none;
  cursor: default;
}

button, a > img {
  cursor: pointer;
}

h1, h2, h3, h4 {
  color: $title-color;
  text-transform: capitalize;
}

p {
  color: $p-color;
  text-transform: capitalize;
}

html {
  font-size: 100%;
  line-height: 1.2em;
}

body {
  font-family: 'Red Hat Display', 'Open Sans', sans-serif;
  background-color: $body-background-color;
}

.page-wrapper {
  width: 90%;
  max-width: 1600px;
  min-width: 320px;
  margin: 3rem auto;
  padding: 1rem 0;
  background-color: $wrapper-background-color;
}

@media (max-width: 767px) {

  html {
    font-size: 80%;
  }

  .page-wrapper {
    margin: 0 auto;
  }
}
